.env
.venv
.ropeproject
.zed

rg_server/__pycache__
rg_server/migrations
library/__pycache__
library/migrations
library/repositories/__pycache__
library/services/__pycache__
library/tests/__pycache__
