.env
.venv
.ropeproject
.zed
db

rg_server/__pycache__
rg_server/migrations
library/__pycache__
library/migrations
library/repositories/__pycache__
library/services/__pycache__
library/tests/__pycache__
jobs_manager/__pycache__
jobs_manager/migrations
jobs_manager/repositories/__pycache__
jobs_manager/services/__pycache__
jobs_manager/tests/__pycache__
inference_implementation/*.pth
inference_implementation/*.jpg
